In [2]:
!pip install cdsapi
!pip install netCDF4
!pip install numpy
!pip install pandas
!pip install xarray
!pip install pyspark

Collecting cdsapi
  Downloading cdsapi-0.5.1.tar.gz (12 kB)
Requirement already satisfied: requests>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from cdsapi) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from cdsapi) (4.62.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (2.10)
Building wheels for collected packages: cdsapi
  Building wheel for cdsapi (setup.py) ... done
  Created wheel for cdsapi: filename=cdsapi-0.5.1-py2.py3-none-any.whl size=11699 sha256=82bf3e5ff8671368a6b8307645258cd0fb9cf1a15b7aeb0b1f96c1745f92a417
  Stored in directory: /root/.cache/pip/wheels/1d/2e/3c/3746e0cd076320584d6f47b688da7b13a5d5d1a92606779ca4
Successfully built cdsapi
Installing collected packages: cdsapi
Successfully installed cdsapi-0.5.1
Requirement already satisfied: netCDF4 in /usr/local/lib/python3.7/dist-packages (1.5.8)
Requirement already satisfied: cftime in /usr/local/lib/python3.7/dist-packages (from netCDF4) (1.5.1.1)
Requirement already satisfied: numpy>=1.9 in /usr/local/lib/python3.7/dist-packages (from netCDF4) (1.19.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (0.18.2)
Requirement already satisfied: setuptools>=40.4 in /usr/local/lib/python3.7/dist-packages (from xarray) (57.4.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from xarray) (1.1.5)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from xarray) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->xarray) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->xarray) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->xarray) (1.15.0)
Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 29 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 55.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805911 sha256=ce214240ad1f6af681ca523478877e84f3a3e6749cfa3d01006dc7a9f6f7f624
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [8]:
import cdsapi
import netCDF4
from netCDF4 import num2date
import numpy as np
import os
import pandas as pd  
import xarray as xr

#my_nc_file = '/content/drive/MyDrive/data/adaptor_mars_internal_temp_north.nc'
my_nc_file = '/content/drive/MyDrive/data/adaptor_mars_internal_north.nc'
nc = netCDF4.Dataset(my_nc_file, mode='r')
nc.variables.keys()

dict_keys(['longitude', 'latitude', 'expver', 'time', 'd2m', 't2m', 'csf', 'csfr', 'fal', 'istl1', 'istl2', 'istl3', 'istl4', 'lsf', 'lssfr', 'msl', 'msr', 'msmr', 'msdwuvrf', 'siconc', 'sst', 'asn', 'rsn', 'sd', 'es', 'sf', 'smlt', 'sp', 'tsn', 'tco3', 'tcsw', 'tp', 'aluvd', 'aluvp', 'deg0l'])

In [5]:
ds = xr.open_dataset(my_nc_file)
df = ds.to_dataframe()
df.head(100)

                                             t2m
expver latitude longitude time
1      90.0     -180.0    1979-01-01  244.706848
                          1979-02-01  241.445877
                          1979-03-01  246.761688
                          1979-04-01  252.456863
                          1979-05-01  265.003784
                          1979-06-01  272.944061
                          1979-07-01  273.940338
                          1979-08-01  273.089355
                          1979-09-01  268.068726
                          1979-10-01  258.524506

In [17]:
df.dropna()

                                             t2m
expver latitude longitude time
1      90.0     -180.00   1979-01-01  244.706848
                          1979-02-01  241.445877
                          1979-03-01  246.761688
                          1979-04-01  252.456863
                          1979-05-01  265.003784
...                                          ...
5      65.0      178.75   2021-12-01  252.580246
                 179.00   2021-12-01  253.152191
                 179.25   2021-12-01  253.728729
                 179.50   2021-12-01  254.421753
                 179.75   2021-12-01  255.187408

[75047040 rows x 1 columns]