In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import hvplot.pandas
%matplotlib inline

## STEP 1: Read the CSV and Data Preprocessing

In [6]:
# Load the Data
file_df = pd.read_csv('N_seaice_extent_daily_v3.0.csv')
file_df.head()

,Year,Month,Day,Extent,Missing,Source Data
0,YYYY,MM,DD,10^6 sq km,10^6 sq km,Source data product web sites: http://nsidc.o...
1,1978,10,26,10.231,0.000,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_19...
2,1978,10,28,10.420,0.000,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_19...
3,1978,10,30,10.557,0.000,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_19...
4,1978,11,01,10.670,0.000,['/ecs/DP1/PM/NSIDC-0051.001/1978.11.01/nt_19...

In [11]:
# Drop columns not required
file_df.drop([' Source Data'], axis=1, inplace=True)
file_df

       Year   Month   Day       Extent      Missing
0      YYYY      MM    DD   10^6 sq km   10^6 sq km
1      1978      10    26       10.231        0.000
2      1978      10    28       10.420        0.000
3      1978      10    30       10.557        0.000
4      1978      11    01       10.670        0.000
...     ...     ...   ...          ...          ...
14123  2022      01    04       13.436        0.000
14124  2022      01    05       13.477        0.000
14125  2022      01    06       13.537        0.000
14126  2022      01    07       13.520        0.000
14127  2022      01    08       13.690        0.000

[14128 rows x 5 columns]

In [ ]:
# identify unique values in each column (if relevant to data)

In [ ]:
# Drop null values

In [4]:
# Value counts for binning

In [6]:
# Determine if any values require replacing

In [ ]:
# Look at CLASSIFICATION value counts for binning

In [ ]:
# Use visualizations for value counts

In [ ]:
# Generate categorical variable lists

In [ ]:
# Any need for resampling and checking using oversampling /undersampling / SMOTE?

In [ ]:
# Create OneHotEncoder instance

In [ ]:
# Fit & Transform OnHotEncoder

In [ ]:
# Add encoded variable names to the DF

In [ ]:
# Merge one-hot encoded features and drop originals

In [ ]:
# Split our preprocessed data into our features and target arrays

In [ ]:
# Split the preprocessed data into a training and testing dataset

In [ ]:
# Create StandardScaler instances

In [ ]:
# Fit the StandardScaler

In [ ]:
# Scale the Data

## STEP 2: Train & Evaluate Using Ensemble Learners

In [7]:
# Create Random Forest Classifier, Fit the Model and Evaluate the Model

## STEP 3: Compile, Train & Evaluate the Model (Using Tensor Flow) in Deep Learning

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Add layers (input, hidden, output)
# Check model structure

In [ ]:
# Compile (add checkpoints, create callback to save weights)

In [ ]:
# Train the model

In [ ]:
# Evaluate the model

In [ ]:
# Optimize the model – drop noisy variables, change layer, neurons, epochs

In [ ]:
# Export to HDF5